/************* 
COMMON
**************/

.go-back {
    margin-top: 20px;

    a {
        color: $primary;
    }
}

.main-color {
    color: $text;
}

.bg-selected {
    background-color: #62466a; //trovare giusta alternativa di hover
}

.my-admin-image {
    width: calc(100% / 2);
}

// navbar
.custom-sidebar {
    background-color: $secondary;
}

// sidebar
.custom-navbar {
    background-color: $secondary;
}

.admin-bg {
    background-color: $white;
}

.cont-img-list {
    width: 100px;
    height: 100px;

    img {
        width: 75%;
        object-fit: cover;
    }
}