/************* 
VARIABLES - COLORS
**************/

// color
$primary: #ee7c2f; //pumpkin
$secondary: #2a101a; //russian violet
$light_p: #dda885;
$light_s: #c5a5dc;

// color: text e bg
$text: #130a17;
$white: #f7f3f6; //snow